{
//  "root": true,
//  "parser": "@typescript-eslint/parser",
//  "env": {
//    "es6": true
//  },
//  "ignorePatterns": ["node_modules", "build", "coverage"],
//  "plugins": ["import", "eslint-comments", "functional", "prettier"],
//  "extends": [
//    "eslint:recommended",
//    "plugin:eslint-comments/recommended",
//    "plugin:@typescript-eslint/recommended",
//    "plugin:import/typescript",
//    "plugin:functional/lite",
//    "prettier",
//    "prettier/@typescript-eslint"
//  ],
//  "globals": {
//    "BigInt": true,
//    "console": true,
//    "WebAssembly": true
//  },
//  "rules": {
//    "functional/no-loop-statement": "off",
//    "functional/no-let": "off",
//    "functional/no-return-void": "off",
//    "@typescript-eslint/no-var-requires": "off",
//    "@typescript-eslint/no-unused-vars": "off",
//    "functional/immutable-data": "off",
//    "@typescript-eslint/no-explicit-any": "off",
//    "functional/prefer-readonly-type": "off",
//    "functional/no-throw-statement": "off",
//    "@typescript-eslint/explicit-module-boundary-types": "off",
//    "eslint-comments/disable-enable-pair": [
//      "warn",
//      {
//        "allowWholeFile": true
//      }
//    ],
//    "eslint-comments/no-unused-disable": "warn",
//    "sort-imports": [
//      "warn",
//      {
//        "ignoreDeclarationSort": true,
//        "ignoreCase": true
//      }
//    ],
//    "prettier/prettier": "warn"
//  }
}
